.form {
    margin: 1rem;
}

.formTitle {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--text-primary);
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--text-primary);

}

.relative {
    position: relative;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--button-primary-hover);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding-left: 2rem;
}

.inputIcon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    /* transform: translateY(-40%); */
    color: var(--text-secondary);
}

.button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-dark);
    color: var(--primary-dark-contrast);
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 600;
}

.button:hover {
    background-color: var(--primary);
}

.errorMessage {
    background-color: var(--accent2);
    color: var(--accent2-contrast);
    margin-bottom: 1rem;    
    font-weight: 600;
    margin: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}