.loginContainer {
    min-width: 22rem;
    width: 30%;
    margin: 2rem auto;
    background-color: var(--background);
    border-radius: 1rem;
}

.formHeader {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: var(--primary-dark);
    color: var(--primary-dark-contrast);
    border: 1px solid var(--primary-dark-contrast);
    border-radius: 1rem;
}