* {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #1D1A16;
  --text-secondary: #545049;

  --primary: #A4233D;
  --primary-dark: #570F1E;
  --primary-light: #FF9FB3;

  --accent1: #007E8C;
  --accent2: #F0A900;
  --accent3: #7D5CF3;

  --primary-contrast: var(--background);
  --primary-dark-contrast: var(--background);
  --primary-light-contrast: var(--text-primary);

  --accent1-contrast: var(--background);
  --accent2-contrast: #000;
  --accent3-contrast: var(--background);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  font-family: var(--font-geist-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-mono);
}