.logoutForm {
    /* display: flex; */
    justify-content: center;
    /* margin-top: 2rem; */
    width: 50%;
    min-width: 15rem;
    margin: 1rem auto;
}

.button {
    width: 100%;
    padding: 0.75rem;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 600;
}