.main {
    max-width: 900px;
    margin: 0 auto;
}

.content {
    width: "100%";
    display: "flex";
    justify-content: "center";
    padding: "0 16px";
    box-sizing: "border-box";
}

.registerGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--button-primary-hover);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--text-primary);

}

.button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-dark);
    color: var(--primary-dark-contrast);
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 600;
}

.button:hover {
    background-color: var(--primary);
}

.radioLabelStyle {
  display: "flex";
  gap: 8;
  align-items: "center";
}

.radioGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fieldset{
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 1rem;
  padding: 0.8rem;
}

.doubleColumn {
  grid-column: span 2;
}

.loginLink {
  margin: 1rem auto;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 900px) {
    .registerGrid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}